.footer{
    padding-top: 68px;
    &__border{
        margin-bottom: 24px;
        display: block;
        height: 3px;
        background: linear-gradient(89.99deg, #00D1FF 0%, rgba(255, 34, 141, 0) 100%);
    }

    &__inner{
        display: flex;
    }

    &__left{
        width: 17%;
    }

    &
}