.social__list {
    display: flex;
    align-items: center;
    &__item {
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 128.9%;
        text-decoration-line: underline;
        color: #BDBDBD;
        &:not(:last-child) {
            margin-right: 40px;
        }

        &__link {
            display: flex;
            align-items: center;

            &__text {
                margin-right: 23px;
            }

            &__icon {
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
